@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Regular";
    src:local("GoogleSans-Regular"),
    url("./components/global/fonts/GoogleSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Bold";
    src:local("GoogleSans-Bold"),
    url("./components/global/fonts/GoogleSans-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Medium";
    src:local("GoogleSans-Medium"),
    url("./components/global/fonts/GoogleSans-Medium.ttf") format("truetype");
}